<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cPanel</title>
  <link rel="stylesheet" href="./Style/cpanel.css">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body>

  <nav class="navbar navbar-lg bg-body-tertiary">
    <div class="col-lg-1">
      <a type="button" rel="stylesheet" href="./login.html"><i class="fa-solid fa-circle-arrow-left fa-2xl"
          style="color: #0f0f0f; padding: 10px;"></i></a>
    </div>
    <div>
      <a class="col-lg-1" href="http://www.ingenxtec.com/"><img src="./img/ingenxlogo.png" alt="INGENX" width="120px"
          height="40px">
      </a>
    </div>
  </nav>
  <header>
    <h3>IGPN Control Panel</h3>
  </header>

  <div class="container">
    <div class="tiles m-4">
      <div class="tile" id="dashboard">
        <h2>Progression Bar</h2>
        <!-- Add content specific to the dashboard here -->
        <a class="btn btn-dark" href="./updateProgbar.html">DEAL LIFE CYCLE</a>
      </div>
      <div class="tile" id="settings">
        <h2>Settings</h2>
        <!-- Add content specific to the settings here -->
      </div>
      <div class="tile" id="users">
        <h2>Users</h2>
        <!-- Add content specific to the users here -->
      </div>
    </div>
    <div class="tiles m-4">
      <div class="tile" id="dashboard">
        <h2>Admin</h2>
        <!-- Add content specific to the dashboard here -->
      </div>
      <div class="tile" id="settings">
        <h2>Config</h2>
        <!-- Add content specific to the settings here -->
        <a class="btn btn-dark" href="./invoice.html">CONFIGURATION</a>
      </div>
      <div class="tile" id="users">
        <h2>Profile</h2>
        <!-- Add content specific to the users here -->
      </div>
    </div>
    <div class="tiles m-4">
      <div class="tile" id="dashboard">
        <h2>Status</h2>
        <!-- Add content specific to the dashboard here -->
      </div>
      <div class="tile" id="settings">
        <h2>Roles</h2>
        <!-- Add content specific to the settings here -->
      </div>
      <div class="tile" id="users">
        <h2>Graphs</h2>
        <!-- Add content specific to the users here -->
        <a class="btn btn-dark" href="./performanceGraph.html">PERFORMANCE</a>
      </div>
    </div>
  </div>

  <script src="./js/cpanel.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f19d295e17.js" crossorigin="anonymous"></script>
</body>

</html>