<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deal Status</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./Style/dealStatus.css">
  <script src="./js/common.js"></script>
</head>

<body>


 
  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <img src="./img/logo-print-hd-transparent.png" class="navbar-brand" alt="INGENX" width="120px" height="70px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-sharp fa-solid fa-bars fa-2xl"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="home" aria-current="page" href="./dashboard.html"><b>HOME</b></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>PARTNER</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./partnerApproval.html"><b>APPROVAL</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./partnerStatus.html"><b>STATUS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./partnerSummary.html"><b>SUMMARY</b></a></li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>DEAL</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./dealRegister.html"><b>REGISTER</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./dealApproval.html"><b>APPROVAL</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./dealDetails.html"><b>STATUS</b></a></li>
              <li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>COMMISSION PAYOUT</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./tnc.html"><b>TERMS & AGREEMENTS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <!-- <li><a class="dropdown-item" href="./invoice.html"><b>INVOICE UPLOAD & GENERATE</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li> -->
              <li><a class="dropdown-item" href="./performanceGraph.html"><b>PERFORMANCE GRAPH</b></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown profile">
            <a class="nav-link dropdown" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" disabled>
              <b><i class="fa-solid fa-user fa-xl"></i> PROFILE</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form method="get" action="/profile">
                <div id="profile"></div>
              </form>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./personaldetails.html"><b>PRESONAL INFO</b></a></li>
              <li>

              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./settings.html"><b>SETTINGS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" onclick="logout()"><b>LOGOUT</b></a></li>
            </ul>
          </li>
        </ul>
        <hr />
        <a href="http://www.ingenxtec.com/"><img src="./img/ingenxlogo.png" alt="INGENX" width="120px" height="40px"
            id="ingenxlogo"></a>
      </div>
    </div>
  </nav>


  <h3 id="pageHeader" class="title"> DEAL STATUS</h3>



  <div class="container">
    <div class="products-container" id="dealContainer">
      <!-- Fetched dealRegister data will be inserted here dynamically -->
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="mb-0"><b>&copy; 2023-2024 INGENX TECHNOLOGY | ALL RIGHTS RESERVED</b></p>
        </div>
      </div>
    </div>


    <!-- BUTTONS FOR IN-CARD  -->
    <!-- <button type="button" class="btn btn-success mt-2 w-25">APPROVE</button>
      <button type="button" class="btn btn-danger mt-2 w-25"><strong>REJECT</strong></button> -->


  </footer>
  <script src="https://kit.fontawesome.com/f19d295e17.js" crossorigin="anonymous"></script>
  <script src="./js/dealStatus.js"></script>
  <script>
    // Make an AJAX request to fetch the dealRegister data
    fetch('/dealsDetails')
      .then(response => response.json())
      .then(data => {

        const Container = document.getElementById('dealContainer');

        const dataArray = Object.values(data)
        console.log(dataArray);


        for (var k = 0; k <= dataArray.length; k++) {
          var datalength = dataArray[k].length;

          for (var j = 0; j <= datalength; j++) {
            // Iterate over the fetched dealRegister data and generate HTML dynamically

            // Update the dealContainer with the generated HTML
            dataArray.forEach((item, i) => {

              const dealContainer = document.createElement('div');

              // Set content using item properties
              dealContainer.innerHTML = `
        <div class="product  w-100">
                          <h1 class="p-4">${item[j].dealname}</h1>
                          <div class="buttons">
                          <a class=" mb-2 bg-dark text-white w-100" href="./dlc.html" style="text-decoration: none;" >DETAILED SUMMARY</a>
                              </div>
                          </div>
                  </div>                           
          `;

              // Append the loginDetails element to the container
              Container.appendChild(dealContainer)


            })
          }
        };

      })
      .catch(error => console.error(error));
  </script>
  <script>
    // Function to fetch data from the API
    function fetchData() {
      fetch('/profile')
        .then(response => response.json())
        .then(data => {
          // Iterate through the data and create card elements
          const container = document.getElementById('profile');
          data.forEach((item, i) => {

            const loginDetails = document.createElement('div');

            // Set content using item properties
            loginDetails.innerHTML = `
          <div class="d-flex align-items-center">
              <img src="./img/ocean-3605547__340.jpg" alt="Profile Image" class="rounded-circle"
                  style="width: 40px; height: 40px;">
                  <div class="ms-2">
                  <h6 class="mb-0 m-2">${item.name}</h6>
                  <p class="small text-muted mb-0 m-2">${item.userType}</p>
              </div>
          </div>                            
          `;

            // Append the loginDetails element to the container
            container.append(loginDetails);
          });
        })
        .catch(error => {
          console.log('Error:', error);
        });
    }

    // Call the fetchData function when the page loads
    window.onload = fetchData;
  </script>
</body>

</html>