<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deal Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./Style/dealDetails.css">
  <script src="./js/common.js"></script>
  <style>
    #card-container {
      margin-top: 400px;
    }
  </style>
</head>

<body>


 
  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <img src="./img/logo-print-hd-transparent.png" class="navbar-brand" alt="INGENX" width="120px" height="70px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-sharp fa-solid fa-bars fa-2xl"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="home" aria-current="page" href="./dashboard.html"><b>HOME</b></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>PARTNER</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./partnerApproval.html"><b>APPROVAL</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./partnerStatus.html"><b>STATUS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./partnerSummary.html"><b>SUMMARY</b></a></li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>DEAL</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./dealRegister.html"><b>REGISTER</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./dealApproval.html"><b>APPROVAL</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./dealDetails.html"><b>STATUS</b></a></li>
              <li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>COMMISSION PAYOUT</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./tnc.html"><b>TERMS & AGREEMENTS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <!-- <li><a class="dropdown-item" href="./invoice.html"><b>INVOICE UPLOAD & GENERATE</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li> -->
              <li><a class="dropdown-item" href="./performanceGraph.html"><b>PERFORMANCE GRAPH</b></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown profile">
            <a class="nav-link dropdown" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" disabled>
              <b><i class="fa-solid fa-user fa-xl"></i> PROFILE</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form method="get" action="/profile">
                <div id="profile"></div>
              </form>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./personaldetails.html"><b>PRESONAL INFO</b></a></li>
              <li>

              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./settings.html"><b>SETTINGS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" onclick="logout()"><b>LOGOUT</b></a></li>
            </ul>
          </li>
        </ul>
        <hr />
        <a href="http://www.ingenxtec.com/"><img src="./img/ingenxlogo.png" alt="INGENX" width="120px" height="40px"
            id="ingenxlogo"></a>
      </div>
    </div>
  </nav>


  <!--DEAL DETAILS-->


  <!-- <form method="post" action="/dealDetails"> -->
  <div class="container-fluid " id="card-container">
    <div class="row" id="cardDetails">

    </div>
    <div id="pagination" class="mt-xl-5"></div>
  </div>

  <!-- 
    </form> -->




  <!-- FOOTER -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="mb-0"><b>&copy; 2023-2024 INGENX TECHNOLOGY | ALL RIGHTS RESERVED</b></p>
        </div>
      </div>
    </div>
  </footer>

  <script>


    const itemsContainer = document.getElementById('cardDetails');
    const paginationContainer = document.getElementById('pagination');

    let currentPage = 1;
    let dataarr = [];
    async function fetchItems(page) {
      try {
        const response = await fetch(`/dealsDetails?page=${page}`);
        const data = await response.json();
        const { slicepage } = data;



        slicepage.forEach((item, i) => {

          const card = document.createElement("div");
          card.className = " card col-md-6 "
          card.innerHTML += `
          <div class="card-body m-2">
                                <h2 class="card-title text-center" style="text-transform: uppercase;">${item.dealname}</h2>
                                <hr/>

                                <div class="row ">
                                   
                                        <div class="col-6 mb-1">
                                            <h5>Status</h5>
                                            <p class="text-muted">New</p>
                                        </div>
                                        <div class="col-6 mb-1">
                                            <h6>Customer Name </h6>
                                            <p class="text-muted">${item.customername}</p>
                                        </div>
                                       

                                </div>
                                <!-- Button trigger modal -->
                                <div class="container">
                                    <div class="row">
                                        <div class=" col-lg-12 mb-3 py-2 ">
                                            <button type="button" class="card-text btn btn-primary w-100"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop${i}">
                                                Details
                                            </button>
                                        </div>
                                    
                                        
                                        

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop${i}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Deal Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row table-data" id="modal">
                                                        <div class="col-lg-12">
                                                            <div class="col-lg-12">
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Deal Details</th>
                                                                            <th>Value</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td name="dealname">Deal Name</td>
                                                                            <td id="dealname">${item.dealname}</td>
                                                                        </tr>
                                                                        <td name="customername">Customer Name</td>
                                                                        <td id="customername">${item.customername}</td>
                                                                        </tr>
                                                                        <tr>
                                                                              <td name="toi">Type of Industry</td>
                                                                            <td id="gstnno">${item.toi}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td name="opptype">Opportunity Type</td>
                                                                            <td id="opptype">${item.opptype}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td name="productname">Product Name</td>
                                                                            <td id="productname">${item.productname}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td name="currenterp">Current ERP</td>
                                                                            <td id="email">${item.currenterp}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td name="nou">Number of User</td>
                                                                            <td id="nou">${item.nou}</td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td name="status">Status</td>
                                                                            <td id="status">${item.status}</td>
                                                                        </tr>
                                                                      
                                                                         
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <hr />
                                                            <div class="row col-lg-12 md-2" id="status">
                                                                <!-- STATUS -->
                                                                <div class="col-lg-6">
                                                                    <a class="btn btn-primary p-2" href="./dlc.html"><b>DETAIL
                                                                            SUMMARY</b></a>
                                                                </div>
                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <p class="card-text"><small class="text-muted">Last updated ${item.updatedAt}</small></p>
                            </div>`;
          console.log(itemsContainer)
          dataarr.push(slicepage)
          itemsContainer.appendChild(card)
        });

        // Create pagination buttons
        currentPage = page;
        generatePaginationControls();


      } catch (error) {
        console.error('Error fetching data:', error);
      }



    }
    console.log(dataarr)

    function generatePaginationControls() {

      paginationContainer.innerHTML = '';


      const totalPages = Math.ceil(dataarr.length / 4);

      for (let page = 1; page <= totalPages; page++) {
        const button = document.createElement('button');
        button.textContent = page;
        button.onclick = () => fetchItems(page);
        if (page === currentPage) {
          button.classList.add('active');
        }
        paginationContainer.appendChild(button);
      }
    }

    fetchItems(currentPage);

  </script>
  <script src="https://kit.fontawesome.com/f19d295e17.js" crossorigin="anonymous"></script>
</body>

</html>