<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./Style/settings.css">
</head>

<body>


  
  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <img src="./img/logo-print-hd-transparent.png" class="navbar-brand" alt="INGENX" width="120px" height="70px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-sharp fa-solid fa-bars fa-2xl"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="home" aria-current="page" href="./dashboard.html"><b>HOME</b></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>PARTNER</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./partnerApproval.html"><b>APPROVAL</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./partnerStatus.html"><b>STATUS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./partnerSummary.html"><b>SUMMARY</b></a></li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>DEAL</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./dealRegister.html"><b>REGISTER</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./dealApproval.html"><b>APPROVAL</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./dealDetails.html"><b>STATUS</b></a></li>
              <li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" disabled>
              <b>COMMISSION PAYOUT</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./tnc.html"><b>TERMS & AGREEMENTS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <!-- <li><a class="dropdown-item" href="./invoice.html"><b>INVOICE UPLOAD & GENERATE</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li> -->
              <li><a class="dropdown-item" href="./performanceGraph.html"><b>PERFORMANCE GRAPH</b></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown profile">
            <a class="nav-link dropdown" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" disabled>
              <b><i class="fa-solid fa-user fa-xl"></i> PROFILE</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form method="get" action="/profile">
                <div id="profile"></div>
              </form>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./personaldetails.html"><b>PRESONAL INFO</b></a></li>
              <li>

              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./settings.html"><b>SETTINGS</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" onclick="logout()"><b>LOGOUT</b></a></li>
            </ul>
          </li>
        </ul>
        <hr />
        <a href="http://www.ingenxtec.com/"><img src="./img/ingenxlogo.png" alt="INGENX" width="120px" height="40px"
            id="ingenxlogo"></a>
      </div>
    </div>
  </nav>


    <!-- SETTINGS -->

    <div class="container justify-content-center">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Surkhet, NP12</div>
            <div class="text-two">Birendranagar 06</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+0098 9893 5647</div>
            <div class="text-two">+0096 3434 5678</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">codinglab@gmail.com</div>
            <div class="text-two">info.codinglab@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
        <form action="#">
          <div class="input-box">
            <input type="text" placeholder="Enter your name">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter your email">
          </div>
          <div class="input-box message-box">
            
          </div>
          <div class="button">
            <input type="button" value="Send Now" >
          </div>
        </form>
      </div>
      </div>
    </div>
  
  
  <!-- <div class="container">
    <div class=" row ">
      <div class="col-md-12 text">
      <img class="contact-image" src="contact-image.jpg" alt="Contact Person">
      <h2>Contact Us</h2>
      <p>Contact Information:</p>
      <p>Email: contact@example.com</p>
      <p>Phone: +1 (123) 456-7890</p>
      <button class="contact-button">Contact Now</button>
    </div>
  </div>
  </div> -->
   
  
      <!-- SETTINGS -->
  
     
  
      <!-- FOOTER -->
  
      <footer>
          <div class="container-fluid ">
              <div class="row">
                  <div class="col-lg-12">
                      <p class="mb-0"><b>&copy; 2023-2024 INGENX TECHNOLOGY | ALL RIGHTS RESERVED</b></p>
                  </div>
              </div>
          </div>
      </footer>
      <script src="https://kit.fontawesome.com/f19d295e17.js" crossorigin="anonymous"></script>
      <script src="./js/settings.js"></script>
      <script src ="./js/common.js"></script>
  </body>
  
  </html>